<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Subscriptions</title>
  </head>
  <body>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    {{ channels|length }} channels
    <ul>
      {% for channel in channels %}
      <li><a href="{{ channel.url }}">{{ channel.title }}</a></li>
      {% endfor %}
    </ul>

    <form action="{% url 'fetch' %}" method="POST" accept-charset="utf-8">
      {% csrf_token %}
      <button>Refresh</button>
    </form>

    <p>Changes since last refresh:</p>
    Subscribed to:
    <ul>
      {% for channel in sub_log.subscriptions_added.all %}
      <li><a href="{{ channel.url }}">{{ channel.title }}</a></li>
      {% endfor %}
    </ul>

    Unsubscribed to:
    <ul>
      {% for channel in sub_log.subscriptions_removed.all %}
      <li><a href="{{ channel.url }}">{{ channel.title }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
